@model PriceList


<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-1">
			<h2 class="text-primary">Добавление прайс-листа</h2>
			<hr />
			<div class="mb-3">
				<button type="submit" class="btn btn-primary" style="width:150px">Продолжить</button>
				<a asp-controller="PriceList" asp-action="Index" class="btn btn-secondary" style="width:120px">Отмена</a>
			</div>
			<div class="mb-3">
				<label asp-for="Name"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
		</div>
	</div>
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Добавление колонок в прайс-лист</h2>
			<hr />
			<table class="table table-bordered table-striped" style="width: 100%;">
				<thead>
					<tr>
						<th style="width: 30%;">
							Количество колонок
						</th>
						<th style="width: 30%;">
							Наименование колонок
						</th>
						<th style="width: 30%;">
							Тип данных
						</th>
						<th style="width: 10%;">
						</th>
					</tr>
				</thead>
				<tbody>
					@* @foreach (var obj in Model.ByOrder(u => u.Name))
					{
						<tr>
							<td>@obj.Name</td>
							<td>@obj.TypeOfContent</td>
							<td>
								<div class="text-end">
									<a asp-controller="" asp-action="Delete" asp-route-id="@obj.Name" class="btn btn-danger">
										<i class="bi bi-trash"></i> Удалить
									</a>
								</div>
							</td>
						</tr>
					} *@
				</tbody>
			</table>
			<div class="mb-3">
				<a asp-controller="PriceList" asp-action="Index" class="btn btn-secondary" style="width:170px">Добавить колонку</a>
			</div>
		</div>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}