@model PriceListDetail


<div class="border p-3 mt-4">
	<div class="row pb-1">
		<h2 class="text-primary">/Тут название выбранного(созданного) прайса/</h2>
		<input id="price-list-id" type="number" hidden value="@ViewData["price_list_id"]" />
		<hr />
		<div class="mb-3">
			<a asp-controller="Product" asp-action="Upsert" class="btn btn-secondary">
				<i class="bi bi-plus-circle"></i> Добавить позицию
			</a>
			<a asp-controller="PriceList" asp-action="Index" class="btn btn-secondary" style="width:150px">Назад к списку</a>
		</div>
	</div>
	<div class="card-body">
		<div class="row pb-2">
			<div class="col-6">
			</div>
		</div>
		<table id="tblData" class="table table-bordered table-striped" style="width:100%">
			<thead>
				
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</div>
</div>


@section Scripts {
	<script src="~/js/product.js"></script>
}