@model List<PriceList>


<div class="border p-3 mt-4">
	<div class="row pb-1">
		<h2 class="text-primary">/название выбранного прайса/</h2>
		<hr />
		<div class="mb-3">
			<a asp-controller="Product" asp-action="Upsert" class="btn btn-secondary">
				<i class="bi bi-plus-circle"></i> Добавить позицию
			</a>
			<a asp-controller="PriceList" asp-action="Index" class="btn btn-secondary" style="width:150px">Назад к списку</a>
		</div>
	</div>
	<div class="card-body">
		<div class="row pb-2">
			<div class="col-6">
			</div>
		</div>
		<table id="tblData" class="table table-bordered table-striped" style="width:100%">
			<thead>
				<tr>
					@* @foreach (var obj in Model.Column.OrderBy(u => u.Name))
					{
					
					} *@
				</tr>
			</thead>
		</table>
	</div>
</div>


@section Scripts {
	<script src="~/js/product.js"></script>
}