@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в Мебель Сити!</h1>
    <p>Управляй прайс-листами легко и просто в одной системе</p>
    <p><a href="">Сделать первые шаги</a></p>
</div>
