@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в Мебель Сити!</h1>
    <p>Управляй прайс-листами легко и просто в одной системе</p>
    <p><a asp-controller="PriceList" asp-action="Index">Сделать первые шаги</a></p>
</div>
